<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheets/style.css"/>
  <title><%= title %></title>
</head>
<body>
  <div id="app"></div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r72/three.js"></script>
  <script src="javascripts/droid_sans_regular.typeface.js"></script>
  <script src="javascripts/bundle.js"></script>
</body>
</html>
