/** Generic **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  background-color: #333;
}

a {
  color: #00B7FF;
  text-decoration: none;
  padding: 0 10px;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.list-unstyled {
  list-style-type: none;
}

h1, h2, h3, h4,h5, h6 {
  font-color: #444;
}

/** Generic End **/

/** Main **/

#app {
  padding-top: 50px;
  width: 90vw;
  margin: 0 auto;
}

/** Main **/

.sidebar {
  width: 10vw;
}

.brand {
  color: #ccc;
  font-size: 8em;
  font-family: cursive;
  text-transform: lowercase;
  margin-bottom: 20px;
  display: inline-block;
}

.nav-tabs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
}

.nav-tabs a {
  flex-wrap: wrap;
  padding-top: 10px;
  font-family: monospace;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  width: 80px;
}

.seperator {
  border-bottom: 2px solid #ddd;
  width: 80px;
}

.container {
  padding: 10px 20px 0;
}
