* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
  padding: 0 10px;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.list-unstyled {
  list-style-type: none;
}

h1, h2, h3, h4,h5, h6 {
  font-color: #444;
}

.header {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #eee;
}

.header a {
  color: #444;
}

.nav-tabs {
  padding-right: 100px;
}

.main-header {
  font-size: 30px;
}

.container {
  padding: 10px 20px 0;
}
